@import "scss";

.home {
  &__banner {
    &-hero {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      line-height: 1rem;
      margin: 2rem auto;
      padding: 0;

      img {
        width: 65%;
        object-fit: contain;
        max-width: 500px;
      }
    }
  }

  .home__carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-link {
      color: $font-light;
      text-align: center;
      font-size: 1.5rem !important;

      &:hover {
        color: $primary-color;
      }
    }
  }

  &__banner-blog {
    margin: 1rem auto 0 auto;
    width: 85vw;
    background-color: rgba(0, 0, 0, 0.2);

    &-titulo {
      color: $font-light;
      font-size: 1.8rem;
      border-bottom: 2px solid $background-secondary;
      text-align: center;
      padding: 0.5rem 1rem;
    }
  }

  &__mini-banner {
    background-color: $background-primary-dark;
    -webkit-box-shadow: 0px 2px 7px 3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 7px 3px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 2px 7px 3px rgba(0, 0, 0, 0.75);
    font-family: "Bebas Neue", cursive;
    padding: 2rem;

    &-icon {
      font-size: 2.3rem;
      margin: 0 auto;
      display: block;
      color: $background-secondary-dark;

      @media (min-width: 1200px) {
        font-size: 3rem;
      }
    }

    &-texto {
      color: $font-light;
      font-size: 1.1rem;
      text-align: center;

      @media (min-width: 667px) {
        font-size: 1.3rem;
      }
      @media (min-width: 992px) {
        font-size: 1.4rem;
      }

      @media (min-width: 1200px) {
        font-size: 1.6rem;
      }

      p {
        margin: 0 auto;
      }
    }

    &-alt {
      font-family: "Bebas Neue", cursive;
      margin: 2rem auto;
      background-color: $background-secondary;
      padding: 2rem;
      -webkit-box-shadow: 0px 2px 7px 3px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 2px 7px 3px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 2px 7px 3px rgba(0, 0, 0, 0.75);

      &-icon {
        font-size: 2.3rem;
        margin: 0 auto;
        display: block;
        color: $primary-color-hover;
        @media (min-width: 1200px) {
          font-size: 3rem;
        }
      }
    }
  }
}
