@import "scss";

.home {
  &__banner {
    width: 90vw;
    height: 300px;
    margin: 1rem auto;
    background-image: url("../../../assets/img/banner2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);

    @media (min-width: 576px) {
      width: 80vw;
      margin: 1rem auto;
    }

    @media (min-width: 710px) {
      background-image: url("../../../assets/img/banner.jpg");
    }

    @media (min-width: 992px) {
      width: 66vw;
    }
  }
}
