@import "scss";

.blog {
  width: 100%;
  background-color: $background-light;
  margin-top: 2rem;
  color: $primary-color;
  padding: 0.8rem 2rem;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);

  &__titulo {
    color: $primary-color-hover;
    font-size: 2rem;
    border-bottom: 1px solid $background-secondary;
    text-align: center;
    margin-bottom: 1.5rem;
  }
}
