@import "scss";


.edit-user-form{

    .upload-avatar{
        display: table;
        margin: 0 auto;
        border: 2px dashed $border-grey;
        border-radius: 100px;
        padding: 0.6rem;
        margin-bottom: 2rem;
         
    }

    .form-edit{
        text-align: center;

        .ant-form-item{
            margin: 0.5rem auto;
            text-align: left;

        }

        .btn-submit{
            margin: 2rem auto 0 auto;
        }
    }

}