@import "scss";

.cart {
  .ant-spin-nested-loading {
    .ant-spin-container {
      .ant-table-footer {
        div {
          margin-top: 0.5rem;
          display: flex;
          align-items: center;
          justify-content: space-around;

          p {
            margin: 0;
          }
        }
      }
    }
  }
}
