@import "scss";

.menu-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;

  button {
    background-color: transparent;
    color: $font-light;

    &:hover {
      color: $primary-color;
    }
    &:focus,
    &:active {
      color: $font-light;
    }
  }

  &__left {
    display: flex;
    align-items: center;
    &-logo {
      margin: 0 auto;
      color: $font-light;
      width: 130px;
      padding: 0 10px;
    }
  }

  &__right {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .anticon {
      font-size: 1.2rem;
    }

    &-hide {
      display: none !important;
      font-size: 1.1rem;
      margin-left: 1rem;

      @media (min-width: 550px) {
        display: inline-block !important;
      }
    }
  }
}
