@import "scss";

.ant-layout-sider-collapsed {
  max-width: 15vw !important;
  min-width: 15vw !important;
  width: 15vw !important;
  @media (min-width: 480px) {
    max-width: 4rem !important;
    min-width: 4rem !important;
    width: 4rem !important;
  }
}

.admin-sider {
  position: fixed;
  left: 0;
  top: 65px;
  height: 100vh;
  overflow: auto;
  .ant-menu-item {
    margin: 0 auto;
    padding: 0 1.5rem;

    @media (min-width: 480px) {
      padding: auto;
    }
  }
  a {
    .anticon {
      font-size: 1.2rem;
    }
  }
  .ant-menu-inline-collapsed {
    margin: 0 auto;
    .anticon {
      font-size: 1.2rem;
    }
  }
}
