@import "scss";


.login-form{

    .ant-form-item:last-of-type{
        margin: 0;
    }

    &__input{
           
        .ant-input-prefix{
            font-size: 1.1rem;
        }

        input{
            font-size: 1rem;
            padding: 0.5rem 0.5rem 0.5rem 1rem  !important;

            &:focus{
                color: $primary-color;
                box-shadow: none;
            }
        }
    }

    &__button{
        width: 100%;
        font-size: 1rem;
        background-color: $primary-color;
        color: $font-light;
        height: 42px;
        margin-top: 2rem;

        &:hover{
            background-color: $primary-color-hover;
            color: $font-light;
        }
        &:focus,
        &:active{
            background-color: $primary-color;
            color: $font-light;
            border: 0;
        }
    }


}