@import "scss";

.carousel {
  margin: 1rem auto 0 auto;
  width: 95vw;

  background-color: rgba(0, 0, 0, 0.2);

  &__titulo {
    color: $font-light;
    font-size: 1.8rem;
    border-bottom: 2px solid $background-secondary;
    text-align: center;
    padding: 0.5rem 1rem;
  }

  &__actual-carousel {
    margin: 0 1rem;
    min-height: 280px;
  }
}
