@import "scss";

.carousel {
  margin: 1rem auto 0 auto;
  max-width: 95vw;

  @media (min-width: 1200px) {
    max-width: 90vw;
  }

  background-color: $background-light;

  &__titulo {
    color: $primary-color-hover;
    font-size: 2rem;
    border-bottom: 2px solid $background-secondary;
    text-align: center;
    padding: 0.5rem 1rem;
  }

  &__actual-carousel {
    margin: 0 1rem;
    min-height: 280px;
    background-color: $background-grey-light;
  }
}
