@import "scss";

.add-edit-post {
  &-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .item-form-item {
      margin: 1rem auto;

      .anticon {
        color: $background-secondary;
      }
    }

    &-inputs {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      @media (max-width: 750px) {
        flex-direction: column;
      }

      &-data {
        width: 100%;
        margin-top: 0.5rem;
      }
    }

    &-img-upload {
      margin-top: 1rem;

      img {
        margin: 1rem auto;
      }

      .image-item {
        display: flex;
        justify-content: center;
        align-items: center;

        @media (max-width: 650px) {
          flex-direction: column;
        }

        &__btn-wrapper {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-left: 1rem;
          @media (max-width: 650px) {
          }

          button {
            margin: 0.5rem auto;
            width: 150px;
          }
        }
      }
    }

    .tox-tinymce {
      margin: 2rem auto;
      width: 90%;
    }
  }
}
